<!-- One -->
<section id="one">
	<header class="major">
		<h2>
			インターネットの支配者でではなく旅人になろう<br />
			きっとそっちのほうがたのしいよ！
		</h2>
	</header>
	<p>
		カウンター・カルチャーへの敬意をこめてインターネット。
		コンピューターはもはや計算機械ではなく意識融結によるトリップ空間でありそこに支配者はいない。
		PTAがつくったナイトシティみたいなインターネットの秩序にうんざりしているだろう。
		コンピューター技術は弾道計算のためのものではない。
		ロックンロールであるということだ。
	</p>
</section>
