<!-- Three -->
<section id="three">
	<h2>お問い合わせ</h2>
	<p>
		水ProtocolやAlternaについてのお問い合わせがあればこちらから。
		プロジェクトの参加の希望や一緒に御飯行こうよ！っていうのでもぜひ！
		周りにパソコンの話できる友達いないんだよね～田舎だからさぁ～
		あ、お金もほしい！仕事くれ～
	</p>
	<a href="mailto:shadow.wizard.alterna@gmail.com">メールはこちら</a>
</section>
