---
import avatar from '../assets/avatar.png';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		<h1>
			<strong>すい</strong>@alterna<br />
			無愛想なインターネット思想犯。<br />
			部屋で俺、革命犯。アナーキー・イン・ザ・1k <br />
			ひぐらしのなく頃に、想いを馳せて。
		</h1>
	</div>
</header>
