---
import full_1 from '../assets/fulls/01.png';

import th_1 from '../assets/thumbs/01.png';

---

<!-- Two -->
<section id="two">
	<h2>Project</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<a href={full_1} class="image fit thumb"><img src={th_1} alt="" /></a>
			<h3>水Protocol</h3>
			<a href="suiprotocol.pdf">論文はこちらから</a>
			<p>水Protocolってプロジェクトを作ろうとしてるんだけど、人で不足で大変なのよ、、、論文？ホワイトペーパー？まぁよくわかんないけどそれっぽいの書いたからみてね～！気に入ったらメールかtwitterのDMでプロジェクトの参加を希望してね！</p>
		</article>
	</div>
</section>
